.container.testimonials_container {
    width: 40%;
    padding-bottom: 4rem;
    padding-right: 1rem;
}

.client_avatar {
    display: flex;
    width: 8rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 40%;
    margin: 0 auto 1rem;
    border: .2rem solid var(--color-bg);
}

.client_avatar img {
    width: 7rem;
    height: 8rem;
}


.testimonial {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client_review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--color-bg-variant);
}

/* ======================= media query medium ==================== */

@media screen and (max-width: 1024px) {
    .container.testimonials_container {
        width: 60%;
        padding-right: 1rem;
    }
}
/* ======================= media query small ==================== */

@media screen and (max-width: 600px) {
   .container.testimonials_container {
        width: var(--container-width-sm);
        padding-right: 1rem;
    }

    .client_review {
        width: var(--container-width-sm);
    }
   }